<ion-view view-title="Profile">
  <ion-content>

<div>
    <h3>Report</h3>
  </div>

  <div class="item item-body">
    <p>
    Using this app you can report your problem or another persons problem.
    With ease thus making it easier to access medical attention.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#"> <i class="icon ion-thumbsup"></i> Like </a>
  <a class="tab-item" href="#"> <i class="icon ion-chatbox"></i> Comment</a>
    <a class="tab-item" href="#"> <i class="icon ion-share"></i>Share</a>
  </div>

</div>
<div class="item item-avatar">
    <h3>Latest News</h3>
  </div>
<div>
    <h3>Latest News</h3>
  </div>

  <div class="item item-body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#"> <i class="icon ion-thumbsup"></i> Like </a>
  <a class="tab-item" href="#"> <i class="icon ion-chatbox"></i> Comment</a>
    <a class="tab-item" href="#"> <i class="icon ion-share"></i>Share</a>
  </div>


<div>
    <h3>Latest News</h3>
  </div>

  <div class="item item-body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#"> <i class="icon ion-thumbsup"></i> Like </a>
  <a class="tab-item" href="#"> <i class="icon ion-chatbox"></i> Comment</a>
    <a class="tab-item" href="#"> <i class="icon ion-share"></i>Share</a>
  </div>

</div>

  </ion-content>
</ion-view>
