<ion-view view-title="Home">
  <ion-content>
<!-- the report region -->
  <div>
    <h3>Report</h3>
  </div>

  <div class="item item-body">
    <p>
    Using this app you can report your problem or another persons problem.
    With ease thus making it easier to access medical attention.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#"> <i class="icon ion-thumbsup"></i> Like </a>
  <a class="tab-item" href="#"> <i class="icon ion-chatbox"></i> Comment</a>
    <a class="tab-item" href="#"> <i class="icon ion-share"></i>Share</a>
  </div>

<!-- the learn region -->
  <div>
    <h3>Learn</h3>
  </div>

  <div class="item item-body">
    <p>
      Get to know specific issues in the medical world. This is to enable you
      to avoid or get the correct medical attention.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#"> <i class="icon ion-thumbsup"></i> Like </a>
  <a class="tab-item" href="#"> <i class="icon ion-chatbox"></i> Comment</a>
    <a class="tab-item" href="#"> <i class="icon ion-share"></i>Share</a>
  </div>

<!-- the medical infor region -->
  <div>
    <h3>Medical info</h3>
  </div>

  <div class="item item-body">
    <p>
      Access your medical information whenever, wherever.
      Travel with freedom and less stress of carrying around your
      medical information.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#"> <i class="icon ion-thumbsup"></i> Like </a>
  <a class="tab-item" href="#"> <i class="icon ion-chatbox"></i> Comment</a>
    <a class="tab-item" href="#"> <i class="icon ion-share"></i>Share</a>
  </div>

<!-- the latest news region -->
  <div>
    <h3>Latest News</h3>
  </div>

  <div class="item item-body">
    <p>
      Get the latest news in what is happening close to you.
      Don't be left behind.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#"> <i class="icon ion-thumbsup"></i> Like </a>
  <a class="tab-item" href="#"> <i class="icon ion-chatbox"></i> Comment</a>
    <a class="tab-item" href="#"> <i class="icon ion-share"></i>Share</a>
  </div>

  </ion-content>
</ion-view>
