<ion-view view-title="Profile">
  <ion-content>
    <p>
      Using this app you can report your problem or another persons problem.
      With ease thus making it easier to access medical attention.
    </p>
    <button class="button button-outline button-block button-positive" href="#/app/report">
      Report
    </button>

    <p>
      Get to know specific issues in the medical world. This is to enable you
      to avoid or get the correct medical attention.
    </p>
    <button class="button button-outline button-block button-positive">
      Learn
    </button>

    <p>
      Access your medical information whenever, wherever.
      Travel with freedom and less stress of carrying around your
      medical information.
    </p>
    <button class="button button-outline button-block button-positive">
      Medical Record
    </button>

    <p>
      Get the latest news in what is happening close to you.
      Don't be left behind.
    </p>
    <button class="button button-outline button-block button-positive">
      Latest News
    </button>

  </ion-content>
</ion-view>
